<template name="homeIndex">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right" data-activate-camera>
      {{#if isAndroid}}
        {{> ionIcon icon='android-camera'}}
      {{else}}
        {{> ionIcon icon='ios-camera'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Overview</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionSubheaderBar}}
      <div class="button-bar">
        <a class="button button-clear">Personal</a>
        <a class="button button-clear">Family</a>
      </div>
    {{/ionSubheaderBar}}

    {{#ionContent}}
      {{> homeBudget }}
      {{> homeLiveFeed }}
    {{/ionContent}}

  {{/ionView}}
</template>